body{
    font-family: "Roboto", sans-serif;
    color: #434455;
}
/*-------------------HEADER------------------*/
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.header {
    font-style: normal;
}
.header-nav {

}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.span-logo {
    color:#2E2F42;
    order: 0;
}
.header-list {

}
.header-item {

}
.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
     order: 0;
    flex-grow: 0;
}
.header-link:hover{
    color:#404bbf;
}
.header-link:focus{
    color: #404bbf;
}
.header-connect {
    font-style: normal;
}
.header-connect-list {

}
.header-connect-item {
    
}
.header-connect-link {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-connect-link:hover{
    color: #404BBF;
}
.header-connect-link:focus {
    color: #404BBF;
}
/*-------------------HEADER END------------------*/
.service {
    background-color: #2e2f42;
}

.service-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.service-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.skill {
    
}

.skill-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.skill-list {}

.skill-item {}

.skill-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.info {}

.info-title {}

.info-list {}

.info-item {}

.team {}

.team-our-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-list {}

.team-item {}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*-------------------SERCH------------------*/
.serch {
   
}
.serch-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.serch-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}
.serch-btn:hover {
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.catalog-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.catalog-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.catalog-link{
    text-decoration: none;
}
/*-------------------CATALOG END------------------*/
/*-------------------FOOTER------------------*/
.footer {
    background: #2E2F42;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-span {
    color: #4D5AE5;
    order: 0;
}
.footer-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
/*-------------------FOOTER END------------------*/